# Import Statements

In [1]:
import numpy as np
import pandas as pd
from modules._backtest import Backtest

backtest = Backtest(rows=7)

vals = [(pd.to_datetime("2021-03-10 09:16:00"), 1000000, 0, 1000000),
        (pd.to_datetime("2021-03-10 09:17:00"), 999981.60, 0, 999511.60),
        (pd.to_datetime("2021-03-10 09:18:00"), 1300000, 300000, 1300000),
        (pd.to_datetime("2021-03-10 09:19:00"), 1500000, 500000, 1500000),
        (pd.to_datetime("2021-03-11 09:16:00"), 1500000, 500000, 1500000),
        (pd.to_datetime("2021-03-11 09:17:00"), 1700000, 700000, 1700000),
        (pd.to_datetime("2021-03-12 09:16:00"), 1000000, -200000, 1000000)]

In [2]:
for val in vals:
    backtest.update_backtest(val)

In [3]:
backtest.finalize_array_to_df()

In [4]:
backtest.getBacktestdf()

            Timestamp        Value  Realized_PnL          MTM
0 2021-03-10 09:16:00  1000000.000           0.0  1000000.000
1 2021-03-10 09:17:00   999981.625           0.0   999511.625
2 2021-03-10 09:18:00  1300000.000      300000.0  1300000.000
3 2021-03-10 09:19:00  1500000.000      500000.0  1500000.000
4 2021-03-11 09:16:00  1500000.000      500000.0  1500000.000
5 2021-03-11 09:17:00  1700000.000      700000.0  1700000.000
6 2021-03-12 09:16:00  1000000.000     -200000.0  1000000.000

In [5]:
backtest.resample_backtest_df(freq="D")

                Value  Realized_PnL        MTM
Timestamp
2021-03-10  1500000.0      500000.0  1500000.0
2021-03-11  1700000.0      700000.0  1700000.0
2021-03-12  1000000.0     -200000.0  1000000.0

In [6]:
backtest.summary()

# Blotter Requirements

- Market side (ASK OR BID)
- Type of Trade (Unwind, Hedge or Strategy)
- Instrument Id (Already present)
- time (time of trade - Already present)
- position (Already present)
- Buy/Sell (can be derived from position)
- Volume Traded (can be derived from position)